/* Sidebar */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    padding: 10px;
}

.logo svg {
    width: 100px;
    height: auto;
    display: block;
}

.logo {
    margin-bottom: 5px;
}

nav {
    margin-top: 0;
}

.content {
    position: absolute;
    left: 200px;
    top: 25px;
    padding: 10px;
    max-width: 1200px;
}

/* Project */

.project {
    margin-bottom: 80px;
}

/* Slideshow */

.slideshow {
    position: relative;
}

.slide {
    width: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.slide-counter {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Click zones */

.click-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: w-resize;
}

.click-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: e-resize;
}

/* Description */

.description {
    margin-top: 20px;
    display: none;
}

/* Mobile */

@media (max-width: 800px) {

    .sidebar {
        position: relative;
        width: auto;
        height: auto;
        padding: 10px;
    }

    .content {
        position: relative;
        margin: 0;
        padding: 10px;
        max-width: 100%;
        width: auto;
    }

    .description {
        display: none !important;
    }

    .slideshow {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .slide {
        display: block;
        flex: 0 0 100%;
        scroll-snap-align: start;
    }

    .click-left,
    .click-right,
    .slide-counter {
        display: none;
    }

}
