body {
    margin: 0;
}

/* Sidebar */

.sidebar {

    position: fixed;
    left: 0;
    top: 0;

    width: 200px;
    height: 100vh;

    
    padding: 10px;
}

.title svg {
    width: 100px;
    height: auto;
    display: block;
}

/* Content */

.content {

    margin-left: 220px;
    padding: 20px;

    max-width: 1200px;
}

/* Project */

.project {

    margin-bottom: 80px;
    position: relative;
}

/* Slideshow */

.slideshow {

    position: relative;
}

.slide {

    width: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.slide-counter {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Click zones */

.click-left {

    position: absolute;
    left: 0;
    top: 0;

    width: 50%;
    height: 100%;

    cursor: w-resize;
}

.click-right {

    position: absolute;
    right: 0;
    top: 0;

    width: 50%;
    height: 100%;

    cursor: e-resize;
}

/* Description */

.description {

    margin-top: 20px;
    display: none;
}

/* Mobile */

@media (max-width: 800px) {

    .sidebar {
        position: relative;
        width: auto;
        height: auto;
    }

    .content {
        margin-left: 0;
    }

    .description {

        position: relative;
        opacity: 1;
        margin-top: 10px;
    }

    .arrow {
        display: none;
    }

}
