body {
    margin: 0;
}

/* Sidebar */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: 200px;
    height: 100vh;

    padding: 10px;

    position: fixed;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo svg {
    width: 100px;
    height: auto;
    display: block;
}

nav {
    margin-top: calc(10px + 58px);
}

/* Content */

.content {
    margin-left: 200px;
    padding: 10px;
    max-width: 1200px;
}

/* Project */

.project {
    margin-bottom: 80px;
    position: relative;
}

/* Slideshow */

.slideshow {
    position: relative;
}

.slide {
    width: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.slide-counter {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Click zones */

.click-left {
    position: absolute;
    left: 0;
    top: 0;

    width: 50%;
    height: 100%;

    cursor: w-resize;
}

.click-right {
    position: absolute;
    right: 0;
    top: 0;

    width: 50%;
    height: 100%;

    cursor: e-resize;
}

/* Description */

.description {
    margin-top: 20px;
    display: none;
}

/* Mobile */

@media (max-width: 800px) {

    .sidebar {
        position: relative;
        width: auto;
        height: auto;
    }

    .logo {
        position: relative;
        top: auto;
        left: auto;
    }

    nav {
        margin-top: 10px;
    }

    .content {
        margin-left: 0;
    }

    .description {
        display: block;
        margin-top: 10px;
    }

}
